:root {
    --black: #444444;
    --lineWidth: 16px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8vw;

    height: 100vh;
    margin: 0;

    
    font-size: 4vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#tic-tac-toe {
    width: 75vh;
    height: 75vh;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    grid-gap: var(--lineWidth);

    background-color: var(--black);
    color: var(--black);

    cursor: pointer;
}

.spot {
    overflow: hidden;

    background-color: white;

    font-size: 18vh;

    text-align: center;
}

#status {
    display: flex;
    flex-direction: column;
    
    gap: 10vh;
}